<meta name="viewport" content="width=device-width, initial-scale=1.0">
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-md-4"><div class="card mb-4 box-shadow">
        <p></p>
        <h2><%= project.title %></h2>
        <p><%= project.description %></p>
        <%=button_to 'Show', project, method: :get, :class => "btn btn-secondary"%>
        <% if user_signed_in? %>
          <p><%= button_to 'Edit', edit_project_path(project), method: :get, :class => "btn btn-secondary"%></p>
          <p><%= button_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-secondary" %></p>
        <% end %>
      </div></div>
    <% end %>
  </div>
</div>
</div>
<br>

