<!DOCTYPE html>
<html>
  <head>
    <title>UCCS Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Home 🏠</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <div style="padding-left: 10px;">
            <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-outline-success",  :form_class => "form-inline"%>
          </div>
        <% else %>
          <div style="padding-left: 10px;">
            <%= button_to "Login", new_user_session_path, method: :get, :class => "btn btn-outline-primary", :form_class => "form-inline" %>
          </div>
          <div style="padding-left: 10px;">
            <%= button_to "Sign Up", new_user_registration_path, method: :get, :class => "btn btn-outline-success", :form_class => "form-inline" %>
          </div>
        <% end %>
      </div>
    </nav>


    <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">It&#39;s Michael Aragon!</h1>
          <p>Michael develops software for Ent Credit Union. He has a BS in Mathematics from UCCS and will be starting my MS in Computer Science in the Fall 2022.</p>
          <p><a class="btn btn-primary btn-lg" href="https://github.com/michaeljaragon" role="button">Github &raquo;</a></p>
        </div>
      </div>
    
  <main role="main" id="main">
    <%= yield %>
  </main>
  <hr>
  <footer class="container text-center">
    <p>Michael Aragon | michaeljaragon@gmail.com</p>
  </footer>
  </body>
</html>
